

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    color: #f0efef;
}


.cart-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
    
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.cart-item:last-child {
    border-bottom: none;
}
.cart-total {
    text-align: right;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}
.checkout-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 20px;
}
.checkout-button:hover {
    background-color: #218838;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
    max-width: 13000px;
    padding-left: 250px;
    padding-right: 250px;
}
h1.carrito {
    text-align: center;
    color: #333;
}
.cart-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 200px;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.cart-item:last-child {
    border-bottom: none;
}
.cart-total {
    text-align: right;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}
.checkout-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 20px;
}
.checkout-button:hover {
    background-color: #218838;
}
.payment-form {
    display: none; /* Oculto por defecto */
    margin-top: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}
.payment-methods {
    display: none; /* Oculto por defecto */
    justify-content: space-around;
    margin-top: 20px;
}
.payment-methods img {
    width: 60px;
    height: auto;
}


