.body{
    background-color: antiquewhite;
}

.home-information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
    gap: 30px;
}

.home-main .home-about {
    display: grid;
    grid-column: 1;
    justify-items: center;
    height: auto;

}

.home-about {
    text-align: justify;
    padding: 30px;
    overflow: hidden;
    margin-top: 30px;
    border: 1px solid black;
}


.home-about img {
    width: 100%;
    text-align: center;
    padding: 5px;
    padding-bottom: 30px;

}

.home-about:hover img {
    transform: scale(1.2);
}

.home-main .home-about img,
h3,
p,
a {
    padding: 10px;
}


.home-services-button {
    margin: 30px;
    width: 110px;
    height: 50px;
    background-color: rgb(53, 67, 145);
    font-weight: 500;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
}

.boton-servicio{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-services-button a{
    color: #fff;
}


.home-grid{
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: 1fr 1fr;
    gap: 15px;
    justify-content: center;

}

.home-grid .servicios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    justify-content: center;
}

.home-service{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    justify-content: center;
    align-content: center;
}

.home-service img{
    width: 180px;

    justify-content: center;
    align-content: center;
}

.servicios .service-logo{
    padding: 20px 5px 20px 5px;
    text-align: center;
}
